@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin: 5rem 0;
}

footer {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

body {
    background-color: #ddbdfc;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(70px, 1fr));
    grid-template-rows: repeat(7, minmax(50px, 1fr));
    border: 1rem groove #dec9e9;
    border-radius: .4rem;
    gap: .5rem;
    padding: .5rem;
    background-color: #8e94f2;
}

.display {
    grid-column: span 4;
    grid-row: span 2;
    max-width: 284px;
    border: 2px solid black;
    background-color: white;
    font-size: 2rem;
    font-weight: 400;
    padding: .5rem;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all
}


button.twice {
    grid-column: span 2;
    min-width: 2fr;
}

button {
    font-size: 2rem;
    border-radius: 4rem;
    font-family: 'Bebas Neue', cursive;
    transition-duration: .6s;
    background-color: #f2f2f2;
}

button.operator{
    background-color: #fde4cf;
}

button:hover {
    background-color: #ddbdfc;
}

#delete {
    background-color: #ffd6e0;
}

#clear {
    background-color: #7bf1a8;
}

